<h1>Books</h1>

<div class="book-wrap">
<% @books.each do |book| %>
  <div class="book-comment">
    <span class="body-title"><%= book.title %></span>
    <span class="body-body"><%= book.body %></span>

    <span>
    <%= link_to 'Show', book_path(book.id) %>
    <%= link_to 'Edit', edit_book_path(book.id) %>
    <%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
    </span>

  </div>
<% end %>
</div>